body {
  font-family: "Noto Sans TC", sans-serif;
  background: #fafafa;
  margin: 0;
  padding: 0;
}

/* 資訊卡片 */
.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px 0;
}

.card {
  width: 250px;
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card p{
    text-align: center;
}

.card:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

/* 表單區 */
.contact-form {
  width: 70%;
  max-width: 700px;
  margin: 40px auto;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
  background: white;
}

.row input[name="email"] {
    flex: 1.2;
}
.row input[name="phone"] {
    flex: 1;
}

button {
  background: #e4645c;
  color: white;
  padding: 12px 20px;
  width: 100%;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.2s;
}

button:hover {
  background: #d15049;
}
