
.welcome-text {
  margin-right: 0.8em;
  font-size: 1em;
  font-weight: 600;
}
.newmember img {
  width: 100%;
  height: auto;
  display: block;
}

.logout-link {
  margin-right: 1em;
  font-size: 1em;
  color: #333;
  text-decoration: none;
}

.logout-link:hover {
    text-decoration: underline;
}
