{% extends "GGshopping.html" %}
{% load static %}
{% block title %}
  <title>結帳確認</title>
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock head %}

{% block content %}

<h1 class="checkout-title">結帳確認</h1>


<div id="order-items" class="order-items"></div>


<div class="checkout-summary">
  <div>商品小計：<span id="subtotal">NT$ 0</span></div>
  <div id="discount-row"  style="display:none; ">
    優惠折扣：<span id="discount" style="margin-left: 88px;">NT$ 0</span>
  </div>
  <div class="checkout-total">
    結帳金額：<span id="total">NT$ 0</span>
  </div>
</div>

<hr>
<div class="checkout-flow">

  <h2>付款方式</h2>

  <label>
    <input type="radio" name="payment" value="貨到付款" checked>
    貨到付款
  </label>
  <br>

  <label>
    <input type="radio" name="payment" value="信用卡">
    信用卡
  </label>
  <br>

  <label>
    <input type="radio" name="payment" value="LINEPAY">
    LINE Pay
  </label>

  
  <div id="payment-form" class="payment-form"></div>

  <button id="submitOrder" class="btn-submit">
    確認下單
  </button>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock extra_js %}
