{% extends "GGshopping.html" %}
{% load static %}
{% block title %}
  <title>我的帳戶</title>
{% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}
{% block content %}
<div class="profile-layout">

  
  <aside class="sidebar-profile-menu">
    <div class="menu-title">我的帳戶</div>
    <ul class="submenu">
      <li><a href="/profile/" class="active">我的帳戶</a></li>
      <li><a href="/orders/">購買紀錄</a></li>
      <li><a href="/favorites/">我的最愛</a></li>
    </ul>
  </aside>

  
  <div class="profile-main">
    <section class="profile-card">
      <h2>會員資料</h2>

      <label>
          *使用者名稱
          <input id="name" type="text"  maxlength="20" required>
      </label>

      <label>
          *電子郵件
          <input id="email" type="email" disabled>
      </label>

      <label>
          手機號碼
          <input id="phone" type="text" inputmode="numeric" maxlength="10">
      </label>
      <label >
          生日
          <input id="birthday" type="date"  max="{{ today|default:'' }}">
      </label>
      <label >
          性別
          <select id="gender">
              <option value="">請選擇</option>
              <option value="男">男</option>
              <option value="女">女</option>
              <option value="其他">其他</option>
          </select>
      </label>
      <label>
          地址
          <input id="address" type="text" >
      </label>
    

      <button id="saveProfile">儲存修改</button>

      <hr>

      <button id="deleteAccountBtn" class="btn-danger">
        刪除帳戶
      </button>
    </section>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  const DELETE_ACCOUNT_URL = "{% url 'delete_account_page' %}";
</script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
