.about-wrapper {
    display: flex !important;
    justify-content: space-between ;
    align-items: flex-start;
    gap: 40px;
    padding: 20px 0;
}


.about-text {
    flex: 1;                     
    max-width: 600px;
    font-size: 16px;
    line-height: 1.7;
}


.about-map iframe {
    width: 500px;                
    height: 400px;
    border: none;
    border-radius: 8px;
}

