.header {
  height: 120px;                 
  display: flex;
  flex-direction: column;        
  background: white;
  border-bottom: 1px solid #eee;
}

.logo {
  flex: 1;                       /* 撐滿 header 上半部 */
  display: flex;
  align-items: center;           /* 垂直置中 */
  justify-content: center;       /* 水平置中 */
  font-size: 30px;
  font-weight: bold;
}

.logo a{
    color: #000 !important;
}

.logo a:hover{
    color: #000 !important;
}

.menu {
  list-style: none;
  display: flex;               /* 讓選單變成橫向排列 */
  justify-content: center;     /* 水平置中 */
  gap: 35px;
  margin: 0;
  padding: 0;
}

.menu a {
  text-decoration: underline;
  color: #f8f8f8;
  font-size: 16px;
  letter-spacing: 1px;
  transition: all 0.25s;
  
}

.menu a:hover {
  color: #007bff;
}

nav {
  height: 50px;                  /* 導覽列固定 */
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu li{
    text-align: center;
}

