.page-layout {
    display: flex;
    gap: 32px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 20px;
}

.sidebar-menu {
    width: 240px;
    flex: 0 0 240px;
    
}
.sidebar-menu .menu-item {
    padding: 20px;
}
.menu-title a {
    font-size: 18px;
    font-weight: 800;
    display: block;
    text-decoration: none;
    color: #000;
}

.menu-title{
    text-align: left ;
    margin-left: 30px;
    margin-bottom: 16px;
}

.submenu{
    list-style: none;
    display: flex ; 
    flex-direction: column ;
    justify-content: left ;
    gap: 12px ;
    width: 200px;
    padding: 0 0 0 0 ;
    margin: 0 ;
}

.submenu li{
    margin-bottom: 12px ;
}

.submenu a {
    display: flex ;
    justify-content: center ;  
    align-items: center ;      

    height: 44px;
    width: 100%;              
    background: #000;
    color: #fff ;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none ;
    white-space: nowrap ;
}

.submenu a:hover ,
.submenu a.active{
  background: #000 ;
  color: #fff ;
<<<<<<< HEAD
}
=======
}
>>>>>>> 23ed7dc3155447bd64d6dc0e7dcf7860ea3e3f53
