
.page-layout {
    display: flex;
    gap: 32px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 20px;   
    align-items: flex-start;
}


.sidebar-menu {
    width: 240px;
    flex: 0 0 240px;
}

.sidebar-menu .menu-item {
    padding: 20px;
}


.menu-title {
    margin-bottom: 16px;
    text-align: left;
}

.menu-title a {
    display: block;
    text-align: left;        
    font-size: 18px;
    font-weight: 800;
    margin-left: 30px;
    color: #000;
    text-decoration: none;
}

.submenu {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0;
    margin: 0;
}

.submenu a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    background: #000;
    color: #fff;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
}

.submenu a:hover,
.submenu a.active {
    background: #000;
}
